
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Lobster&family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Lobster&family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Dancing+Script:wght@400..700&family=Lobster&family=Playwrite+FR+Moderne:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Chela+One&family=Dancing+Script:wght@400..700&family=Lobster&family=Playwrite+FR+Moderne:wght@100..400&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b6a9a9;
  flex-direction: column;
}

.editor-container {
  width: 80%;
  max-width: 800px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.text-edit{
    font-size: 45px;
    font-family: 'Chela One', cursive;
    color: rgb(10, 10, 133);
}
.toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #ececec; */
  background-color: rgb(10, 10, 133);
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.toolbar select, .toolbar button, .toolbar input {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.toolbar button:hover, .toolbar input:hover {
  background-color: #ddd;
}

#editor {
  padding: 20px;
  min-height: 400px;
  max-height: 600px;
  overflow-y: auto;
}
